/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: "IBM Plex Mono";
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.header__element {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
}

.header__element::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -19px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9.5px;
  block-size: 9.5px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
}

.header__title {
  color: #db00ff;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 84%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__title-text {
  align-self: center;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  white-space: pre-line;
}

.title-decor {
  background-color: var(--accent-color);
}

.header__theme-menu {
  color: var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 8px;
}

.header__theme-menu-item {
  align-self: flex-end;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  outline: none;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--accent-color);
}

.content {
  margin-top: 40px;
  margin-bottom: 40px;
}

/*.section__stress {
  height: 100vh;
  min-height: 949px;
}
  Пока секции этого же типа заморожу, потому что без них
  можно, но может потом пригодятся.
*/

.section__general {
  margin-bottom: 50px;
}

.description__general {
  display: grid;
 /* grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr)); */
  gap: 20px;
  padding: 0 10px;
}

.section__title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  font-family: 'IBM Plex Mono';
}

.main-card__general {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  font-family: 'IBM Plex Mono';
  color: var(--bg-color);
  background-color: var(--accent-color);
  align-self: stretch;
}

.card__title-text {
  font-weight: 400;
}

.card__text {
  color: #F1B2CE;
  line-height: 1.303;
  font-size: 18px;
  font-weight: 400;
  font-family: 'IBM Plex Mono';
  margin-top: 10px;
}

.highlighted__link {
  text-shadow: 2px 1px 0 var(--accent-color);
}

.text__link {
  text-decoration: none;
}

.text__link:hover{
  border-bottom: 1px solid #F1B2CE;
}

.text__link:focus {
  outline: 1px solid #F1B2CE;
}
.text__link:focus-visible {
  border-bottom: none;
}

/*.section__pictures {
  height: 100vh;
  min-height: 1400px;
}
*/

.card__image {
  inline-size: 100%;
  block-size: 100%;
}

.images__general {
  gap: 10px;
}