:root {
  --browser-height: 100vh;
  --height-phone: 668px;
  --main-padding: 10px;
  --main-font: "IBM Plex Mono", "sans-serif";
  --font-weight: 400;
  --font-weight-bold: 700;
  --font-size: 18px;
}
